CompileFlags:
  Add:
    # SDK include root path
    - -I./cdk-c/include
    # SDK source files path (optional, for indexing convenience)
    - -I./cdk-c/src
    - -Wall
    - -Wextra

# clangd index related settings
Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None