BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

AlignAfterOpenBracket: Align
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: false

AlignArrayOfStructures: Left

ColumnLimit: 80
